extends layout

block content

	h1= title
	//- p Welcome to #{title}
	h2= 'Use your ' + PackingListDetails.name + ' Packing List!'

	p
		ul.list-unstyled.thingToPack
			for list in items_inJade
				li
					input.eachCheckbox(type='checkbox', name='checkbox_name', data-id='#{list._id}')
					input.eachItem(type='text', placeholder='packing list item', name='itemEntered', value='#{list.itemName}', id='#{list._id}')



	div#inputContainer
	
	h2#new-item
