extends layout

block content

	h1= title
	//- p Welcome to #{title}
	h2= 'Use your ' + PackingListDetails.name + ' Packing List!'

	p
		ul.list-unstyled.thingToPack
			for list in items_inJade

				li
					input.eachCheckbox(type='checkbox', name='checkbox_name', data-id='#{list._id}', checked=(list.isChecked == true ? "checked" : undefined))
					input.eachItem(type='text', placeholder='packing list item', name='itemEntered', value='#{list.itemName}', id='#{list._id}')

	a(href='/')
		button.btn.btn-info(type='button') Back

	div#inputContainer
	
	h2#new-item
